config system sdn-connector
  edit "AzureSDN"
  set type azure
  set ha-status enable
  config nic
    edit "${fgt_nic_name}"
      config ip
        edit "ipconfig1"
          set public-ip "FGTAPClusterPublicIP"
        next
      end
    end
  next
  end
  config route-table
    edit "FGTDefaultAPRouteTable"
    config route
    edit "toDefault"
      set next-hop "172.16.136.68"
    next
  end
  next
 end
end
