-------------------------------------------------
FortiGate Deployment Summary
-------------------------------------------------

Location: ${location***REMOVED***
Username: ${fgt_username***REMOVED***

VIP: ${vip_public_ip_address***REMOVED***

FortiGate 1
Public IP: ${fgta_public_ip_address***REMOVED***
Private IP: ${fgta_private_ip_address***REMOVED***
GUI: https://${fgta_public_ip_address***REMOVED***
SSH: ssh ${fgt_username***REMOVED***@${fgta_public_ip_address***REMOVED***

FortiManager 2
Public IP: ${fgtb_public_ip_address***REMOVED***
Private IP: ${fgtb_private_ip_address***REMOVED***
GUI: https://${fgtb_public_ip_address***REMOVED***
SSH: ssh ${fgt_username***REMOVED***@${fgtb_public_ip_address***REMOVED***

IMPORTANT:
- Change the admin password after initial login
- Configure your firewall rules appropriately
- Keep your license and software up to date