Content-Type: multipart/mixed; boundary="===============0086047718136476635=="
MIME-Version: 1.0

--===============0086047718136476635==
Content-Type: text/plain; charset="us-ascii"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Content-Disposition: attachment; filename="config"

config system sdn-connector
	edit AzureSDN
		set type azure
	next
end
config sys global
    set hostname "${fgt_vm_name***REMOVED***"
    set gui-theme mariner
end
config vpn ssl settings
    set port 7443
end
config router static
    edit 1
        set gateway ${fgt_external_gw***REMOVED***
        set device port1
    next
    edit 2
        set dst ${vnet_network***REMOVED***
        set gateway ${fgt_internal_gw***REMOVED***
        set device port2
    next
end
config system interface
    edit port1
        set mode static
        set ip ${fgt_external_ipaddr***REMOVED***/${fgt_external_mask***REMOVED***
        set description external
        set allowaccess probe-response
    next
    edit port2
        set mode static
        set ip ${fgt_internal_ipaddr***REMOVED***/${fgt_internal_mask***REMOVED***
        set description internal
        set allowaccess probe-response
    next
end
%{ if fgt_ssh_public_key != "" ***REMOVED***
config system admin
    edit "${fgt_username***REMOVED***"
        set ssh-public-key1 "${trimspace(file(fgt_ssh_public_key))***REMOVED***"
    next
end
%{ endif ***REMOVED***
%{ if fgt_additional_custom_data != "" ***REMOVED*** ${ fgt_additional_custom_data ***REMOVED*** %{ endif ***REMOVED***
%{ if fgt_license_fortiflex != "" ***REMOVED***
--===============0086047718136476635==
Content-Type: text/plain; charset="us-ascii"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Content-Disposition: attachment; filename="license"

LICENSE-TOKEN:${fgt_license_fortiflex***REMOVED***

%{ endif ***REMOVED***
%{ if fgt_license_file != "" ***REMOVED***
--===============0086047718136476635==
Content-Type: text/plain; charset="us-ascii"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Content-Disposition: attachment; filename="${fgt_license_file***REMOVED***"

${file(fgt_license_file)***REMOVED***

%{ endif ***REMOVED***
--===============0086047718136476635==--
